<form id="patientSearch">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Search for patients by Email:</label>
    <input type="email" class="form-control" id="emailSearch" aria-describedby="emailHelp">
  </div>
 
  <button type="submit" class="btn btn-lg btnColor">Search</button>
</form>
<div class="m4" id="searchResults">
    <h3>Your search has found:<span id="populate"></span></h3>
    
    <button type="button" class="btn btn-lg btnColor" id="add">Add Patient</button>
</div>

<script src="/js/add.js"></script>