<form id="patientSearch">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Search for patients by Email:</label>
    <input type="email" class="form-control" id="emailSearch" aria-describedby="emailHelp">
  </div>
 
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<div class="m4" id="searchReults">
    <h3>Your search has found:</h3>
    <div id="populate"></div>
    <button type="button" class="btn btn-lg btnColor">Add Patient</button>
</div>

<script src="/js/add.js"></script>