
<div class="cardContainer">
    <span>
  <div id="profcard">
    <a href = "/prof/login">
  <h2>Log in or sign up as a Healthcare Professional</h2>
  </a>
  {{!-- <button id="profbutton" class="gobutton">Go</button> --}}
  </div>
  </span>
  
  <span>
  <div id="patientcard">
    <a href = "/login">
    <h2>Log in or sign up as a Patient</h2>
    </a>
  {{!-- <button id="patientbutton" class="gobutton">Go</button> --}}
  </div>
  </span>
</div>