<div class="container mainbody input-group justify-content-md-center cardContainer">
    <div class="row  align-items-center g-lg-5 py-5">
      {{!-- <div class="col-12">
        <h1 class="mentalHealth">Welcome to your online DBT mental health tracker</h1>

      </div> --}}

        <div class="col-md-6">
            <div id="profcard">
                <h2 class="mentalHealth">Log in or sign up as a Healthcare Professional</h2>
                <a href="/prof/login">
                    <button id="profbutton" class="btn btn-secondary btn-lg">Professional Login</button>
                </a>
            </div>
        </div>

        <div class="col-md-6" style="padding-top: 30px;">
            <div id="patientcard">
                <h2 class="mentalHealth">Log in or sign up as a Patient</h2>
                <a href="/login">
                    <button id="patientbutton" class="btn btn-secondary btn-lg">Patient Login</button>
                </a>
            </div>
        </div>
    </div>
</div>