<h1>Login to your account</h1>
<form id='login'>
  <input id='email' placeholder='email' type='email' />
  <input id='password' placeholder='password' type='password' />
  <button type='submit'>Login</button>
</form>

<h1>Create and account with us</h1>
<form id='signup'>
  <input id='signupemail' placeholder='email' type='email'>
  <input id='signuppassword' placeholder='password' type='password'>
  <input id='signupfirstname' placeholder='First Name' type='input' />
  <input id='signuplastname' placeholder='Last Name' type='input' />
  <button type='button' class="btn btn-block">Login</button>
</form>

<script src="./js/login.js"></script>