
<h1> welcome {{user.first_name}} {{user.last_name}}</h1>
{{!-- link to questionaire page --}}
{{!-- link to past questionaires --}}
<a href="./ask"><Button>DBT Form</Button></a>
<a href="./form"><Button>Past DBT Form</Button></a>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Past DBT Form
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {{#each user.Data}}
      <li><a class="dropdown-item" href="/form/{{id}}">{{date}}</a></li>
      {{/each}}
  </ul>
</div>