<main class="form-signin">

<div class="container input-group justify-content-md-center">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-6"> 
    <form id='login'>
        <h1 class=" mentalHealth d-flex">Login to your account</h1>

        <div class="input-group mb-3 gap-2">
            <input type='email' class="form-control" id='email' placeholder="email"/>
        </div>

        <div class="input-group mb-3 gap-2">
            <input class="form-control" id='password' placeholder='password' type='password' />
        </div>

        <div class="input-group d-grid gap-2">
        <button class="btn btn-secondary btn-lg" type='enter'>Login</button>
        </div>
       
       
    </form>
    </div>
 
      
      <div class="col-md-5 col-sm-7">
        <form id='signupFormPro'>
            <h1 class="d-flex">Create a Healthcare Provider account</h1>
            <div class="input-group mb-3 gap-2">
                <input id='healthsignupemail' class="form-control" placeholder='email' type='email'>
            </div>

            <div class="input-group mb-3 gap-2">
          <input id='healthsignuppassword' class="form-control" placeholder='password' type='password'>
          </div>


            <div class="input-group mb-3 gap-2">
                <input id='healthsignupfirstname' class="form-control" placeholder='First Name' type='input' />
            </div>

            <div class="input-group mb-3 gap-2">
                <input id='healthsignuplastname' class="form-control" placeholder='Last Name' type='input' />
            </div>
             <div class="input-group mb-3 gap-2">
                <input id='healthsignuptitle' class="form-control" placeholder='Title' type='input' />
            </div>
             <div class="input-group mb-3 gap-2">
                <input id='healthsignupinst' class="form-control" placeholder='Institution' type='input' />
            </div>

            <div class="form-floating d-grid gap-2">
            <button id='probtn' class="btn btn-secondary btn-lg" class="btn-block" type='enter2'>Sign Up</button>                
            </div>

        </form>
      </div>
    </div>
</div>

</main>

<script src="./js/profLogin.js"></script>
