<div class="content-wrap container justify-content-md-center">
  <div class="row justify-content-center g-lg-5 py-5">

    <h1 class="text-center mentalHealth "> Welcome {{user.first_name}} {{user.last_name}}</h1>

    <p class="typeFace">
      Select an option below to view your current patients, or add new ones.
    </p>
    <a href="/prof/patients"><Button class="btn btnColor btn-lg">View Current Patients</Button></a>
    <a href="/prof/add"><Button class="btn btnColor btn-lg">Add a Patient</Button></a>


 

  </div>
</div>