<div class="container justify-content-md-center">
    <div class="row justify-content-center g-lg-5 py-5">


        <h1 class="text-center mentalHealth">Resources</h1>
        <h2 class="mentalHealth"> Helplines </h2>

        <div class="title" style="font-size: 20px;"> If you are in crisis, get immediate help:

        <ul class="typeFace">

            <li> Call <a href="tel:911">911</a></li>
            <li> National Suicide Prevention Lifeline: </li>
            <ul>
                <li><a href="tel:1-800-273-8255">1-800-273-TALK (8255)</a> for English </li>
                <li> <a href="tel:1-888-628-9454">1-888-628-9454</a> for Spanish </li>
            </ul>

            <li> Crisis Text Line: Text SIGNS to 741741 for 24/7, anonymous, free crisis counseling </li>
            <li> Disaster Distress Helplineexternal icon: CALL or TEXT 1-800-985-5990 (press 2 for Spanish)</li>
        </ul>
        </div>
        <div>
            
        </div>

    </div>
</div>