.typeFace{
    font-family: 'Gentium Book Basic';
    font-size: 20px;
}
.mentalHealth{
    font-family: 'Cinzel';
}
h6{
font-family: 'Fira Sans';
}
h1{
    font-family: 'Cinzel';
    font-size: 45px;
}

nav{
   background-color: #e3f2fd;
}